DATABASE_URL=postgresql+asyncpg://postgres:<PASSWORD>@34.151.192.232:5432/postgres
LLM_API_KEY=your_api_key_here
SECRET_KEY=your_secret_key_here
ENVIRONMENT=development
GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7


