@import "tailwindcss";

@theme {
  --color-primario: #1d5358;
  --color-lateral: #3f7377;
  --color-lateral-claro: #61878a;
  --color-lateral-ativo: #dde5e6;
  --color-fundo: #f6f7f9;
  --color-borda: #e0e0e0;
  --color-texto: #343434;
  --color-texto-medio: #262626;
  --color-texto-suave: #4d4d4d;
  --color-sucesso: #1a9a45;
  --color-sucesso-escuro: #12632f;
  --color-erro: #c20000;
  --color-aviso: #e37405;
  --font-family-base: 'Inter', sans-serif;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f6f7f9;
  color: #343434;
}
